doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(name='description', content='Somos um grupo de nerds, e amamos codificar e dar suporte a boas idéias.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')

    //- Title
    //- ===================================
    title 7Dev - Tapajós Code Studio

    //- Favicon and SVG logo
    //- ===================================
    link(rel='shortcut icon', href='assets/img/favicon.ico')
    link(rel='logo', type='image/svg', href='assets/img/logo.svg')

    //- Stylesheet and fonts are placed after body for performance reasons
    //- Scripts are places at the end of body for performance reasons

  body

    section.jumbotron#home

      header.jumbotron__header

        a.jumbotron__logo(href="/")
          img.jumbotron__logo__image(src="assets/img/logo.svg", alt="Logo da 7dev")

        nav.jumbotron__menu

          a.jumbotron__menu__dropdown-buttom(href="")
            img.jumbotron__menu__dropdown-buttom__image(src="assets/img/icon/menu.svg", alt="Botão do menu")

          ul.jumbotron__menu__list

            li.jumbotron__menu__list__item
              a.jumbotron__menu__list__item__link(data-scroll, href="#home")  Início

            li.jumbotron__menu__list__item
              a.jumbotron__menu__list__item__link(data-scroll, href="#team")  Time

            li.jumbotron__menu__list__item
              a.jumbotron__menu__list__item__link(data-scroll, href="#services")  Serviços

            li.jumbotron__menu__list__item
              a.jumbotron__menu__list__item__link(data-scroll, href="#contact")  Contato

      div.jumbotron__main
        h1.jumbotron__main__title  Boas idéias merecem
          br
          span.jumbotron__main__title__highlight virar código
          | .
        hr.jumbotron__main__line
        p.jumbotron__main_text Somos um grupo de nerds, e amamos codificar e dar suporte a boas idéias.
        a.jumbotron__main__cta(href="#contact", data-scroll)  Fale com a gente

    section.team#team

      .team__text
        h2.team__text__title.section-title Time

        .team__text__description
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce accumsan hendrerit ipsum, varius semper lacus dictum eu. Mauris semper risus non dolor feugiat, ac pulvinar quam varius.
          p Nullam et nibh nec massa egestas pretium. Aliquam congue leo et aliquet luctus. Ut semper sit amet velit et maximus.

      div.team__images
        div
          img(src="assets/img/user.png", alt="")
        div
          img(src="assets/img/user.png", alt="")
        div
          img(src="assets/img/user.png", alt="")
        div
          img(src="assets/img/user.png", alt="")
        div
          img(src="assets/img/user.png", alt="")
        div
          img(src="assets/img/user.png", alt="")
        div
          img(src="assets/img/user.png", alt="")


    section.services#services
      h2.services__title.section-title Serviços

      .services__card__container
        .services__card.services__card_development
          img.services__card__img(src="assets/img/code.jpg", alt="Código em um editor de texto")
          h3.services__card__title Desenvolvimento
          p.services__card__description Sites e aplicações WEB e mobile para qualquer tipo de negócio e mercado.

        .services__card.services__card_repairment
          img.services__card__img(src="assets/img/repair.jpg", alt="Placa mãe de um computador")
          h3.services__card__title Manutenção e Rede
          p.services__card__description Manutenção em computadores e redes domésticas e comerciais de pequeno e médio porte.

    section.contact#contact
      h2.contact__title.section-title Contato

      .contact__container
        .contact__info
          span.contact__info__cta-email-text mande um email para
          a.contact__info__email(href="mailto:7dev.info@gmail.com") 7dev.info@gmail.com

          .contact__info__social
            span.contact__info__cta-social-text entre em contato pelas redes sociais
            a.contact__info__social__item.contact__info__social__item_instagram(href="http://instagram.com/sete.dev", rel="noopener", target="_blank")
              img(src="assets/img/icon/instagram.svg", alt="Logo do instagram")
            a.contact__info__social__item.contact__info__social__item_facebook(href="https://www.facebook.com/sete.dev/", rel="noopener", target="_blank")
              img(src="assets/img/icon/facebook.svg", alt="Logo do facebook")

        .contact__message
          span.contact__message__cta-text Ou mande uma mensagem por aqui
          form.contact__message__form(action="")
            label(for="nome") Seu nome
            input.contact__message__form__name(type="text", id="name", placeholder="Maria Izolda da Silva")
            label(for="email") Seu email
            input.contact__message__form__email(type="email", id="email", placeholder="mraizolda@coelce.com")
            label(for="subject") Assunto
            input.contact__message__form__subject(type="text", id="subject", placeholder="saber mais sobre serviços")
            label(for="message") Mensagem
            textarea.contact__message__form__message-content(id="message", name="", cols="30", rows="10")
            input.contact__message__form__submit(type="submit", value="Enviar")

    footer.footer
      span.footer__copyright 7dev &copy; 2018
      .footer__social

    //- JS scripts
    //- ===================================
    script(src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@14.0.0/dist/smooth-scroll.polyfills.min.js")
    script.
      var scroll = new SmoothScroll('.jumbotron__menu__list__item__link');
      var scroll = new SmoothScroll('.jumbotron__main__cta');
    script(async, src='js/index.min.js')

  //- Stylesheet and fonts
  //- ===================================
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='assets/css/style.min.css')
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i")
