.jumbotron
  align-items: flex-start
  background:
    image: linear-gradient($jumbotron-overlay, $jumbotron-overlay), url('../img/jumbotron-bg.jpg')
    position: center
    size: cover
  display: flex
  flex-wrap: wrap
  min-height: 100vh
  padding: 50px 75px
  min-width: 100vw

  @media (max-width: 800px)
    justify-content: center

  @media (max-width: 500px)
    padding: 30px 20px

.jumbotron__header
  align-self: flex-start
  align-items: center
  display: flex
  justify-content: space-between
  max-height: 100px
  width: 100%

.jumbotron__logo__image
  @media (max-width: 800px)
    width: 100px

.jumbotron__menu__dropdown-buttom
  display: none

  @media (max-width: 800px)
    display: block

.jumbotron__menu__dropdown-buttom__image
  //width: 30px

.jumbotron__menu__list
  display: flex
  list-style-type: none
  padding: 0

  @media (max-width: 800px)
    display: none

.jumbotron__menu__list__item
  color: $white
  font-size: 1.2em
  margin-left: 2em

.jumbotron__menu__list__item__link
  color: $white
  text-decoration: none
  transition: color .3s ease-in-out

  &:hover
    color: $main-blue


.main
  margin-left: 5em

  @media (max-width: 800px)
    text-align: center
    margin-left: 0

  @media (max-height: 500px)
    margin: 4em 0

.main__title
  font-size: 4.5em
  color: $white
  margin-top: 0

  @media (max-width: 800px)
    font-size: 2.5em

.main__title__highlight
  color: $main-blue

.main__line
  width: 60%
  margin-right: 40%
  display: block
  align-self: center

  @media (max-width: 800px)
    margin-right: 20%
    margin-left: 20%

.main__cta
  background-color: $main-blue
  border-radius: 1.5em
  color: $white
  cursor: pointer
  display: block
  font-size: 1.2em
  font-weight: 700
  margin-top: 3em
  padding: .7em 3.5em
  text-align: center
  transition: background-color .3s ease-in-out
  width: 25ch

  @media (max-width: 800px)
    margin-left: auto
    margin-right: auto
    margin-top: 2em
    width: 25ch
    font-size: 1.5em

  @media (max-width: 500px)
    width: 18ch
    padding: .7em
    font-size: 1.2em

  &:hover
    background-color: $main-blue-light
