.jumbotron
  align-items: flex-start
  background:
    image: linear-gradient($jumbotron-overlay, $jumbotron-overlay), url('../img/jumbotron-bg.jpg')
    position: center
    size: cover
  display: flex
  flex-wrap: wrap
  min-height: 100vh
  padding: 50px 75px
  width: 100vw

.jumbotron__header
  align-self: flex-start
  align-items: center
  display: flex
  justify-content: space-between
  max-height: 100px
  width: 100%

.jumbotron__menu__list
  display: flex
  list-style-type: none
  padding: 0

.jumbotron__menu__list__item
  color: $white
  font-size: 1.2em
  margin-left: 2em

.jumbotron__menu__list__item__link
  color: $white
  text-decoration: none
  transition: color .3s ease-in-out

  &:hover
    color: $main-blue

.main
  margin-left: 5em

.main__title
  font-size: 4.5em
  color: $white
  margin-top: 0

.main__title__highlight
  color: $main-blue

.main__line
  width: 60%
  margin-right: 40%
  display: block
  align-self: center

.main__cta
  background-color: $main-blue
  border-radius: 1.5em
  color: $white
  cursor: pointer
  display: block
  font-size: 1.2em
  font-weight: 700
  margin-top: 3em
  padding: .7em 3.5em
  text-align: center
  transition: background-color .3s ease-in-out
  width: 25ch

  &:hover
    background-color: $main-blue-light
