.team
  align-items: center
  background-color: $white
  display: grid
  grid-gap: 60px
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
  min-height: 90vh
  padding-bottom: 50px

.team__text__title
  font-size: 4em
  color: $black
  margin-top: 0

.team__text__description
  color: $gray-text
  font-size: 1.3em
  line-height: 1.5

.team__images
  border: 20px solid $main-blue
  background-color: $main-blue
  max-width: 100%
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
  grid-gap: 20px


.team__images img
  width: 100%
